@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-accent: #E54065;
  --color-bg: #F4F5F9;
  --color-border: #CFD2DC;
  --color-text: #636363;
  --color-filter-button: #E1E4EA;
  --color-read-bg: #F2F2F2;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  /* overflow: hidden; */
}

.cursor-pointer {
  cursor: pointer;
}

.App{
  padding: 1.5rem;
  background-color: var(--color-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}